
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%; /* Ensures the body and html take up full viewport height */
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 30px;

}
#logo {
    scale: 1.2;
    height: 100%;

}
.nav {

    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow:   0 10px 26px rgba(0,0,0,0.12),
  0 6px 12px rgba(0,0,0,0.08);

}
.logo-img {
    overflow: hidden;
    height: 200px;
}
.side-menu {

    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}
.others {
    justify-content: end;
}
.nav li {
    display: grid;
    grid-template-columns: 24px 1fr;
    margin-top: 0.7rem;
    gap: 10px;
}

ul, li {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    justify-content: start;
    align-items: center;
}
ul li img {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
    text-align: left;
}
.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    display: flex;
    flex: none;
    justify-content: space-between;
    padding: 0px 50px;
    padding-top: 50px;

}
.action {
    display: flex;
    align-items: center;
    gap: 15px;
}
button, #submit, #delete {
    background-color: black;
    color: white;
    height: 3rem;
    border-radius: 30px;
    padding: 15px;
    
}
button:hover {
    cursor: pointer;
}
.display {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 50px;

}
.card {
    display: flex;
     border-bottom: 15px solid rgb(255, 255, 255);
     border-radius: 10px;
     box-shadow:    0 10px 10px rgba(0,0,0,0.12),
  0 20px 12px rgba(0,0,0,0.08);
     gap: 40px;
     padding: 0px 50px;
     height: 100px;
}
.book {
    width: 100px;
    height: 100px;
}
.books, .unread, .read {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.new-book {
    display: flex;
    flex-direction: column;
    height: 150px;
    gap: 10px;
}
.book-action {
    display: flex;
    gap: 5px;
    height: 30%;

}

.book-action button {
    
    display: flex;
    width: 50%;
    height: 10%;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 15px;
}

dialog {
    width: 40%;
    height: 50%;
    padding: 0px 50px;
    padding-top: 30px;

}
form {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
form .action {
    justify-content: end;
    padding-top: 10px;
}
form h1 {
    padding: 0px;
    margin-bottom: 0;
}
.user-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

label {
    grid-column: 1;
}
.user-input input, select {
    grid-column: 2;
    width: 60%;
    justify-self: end;
}
#pages {

    width: 15%;
}
option {
    text-align: start;
}
#remove-dialog .action {
    padding-top: 150px;
}
.action >:hover{
    cursor: pointer;
}